---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
import H1 from '../components/H1.astro';
---

<Layout title="About | Rhythm Nation Blog">
	<Main>
		<H1 text='About Rhythm Nation Blog'></H1>
        <p>This is all about this blog! It's awesome!</p>
        <a href="/" class="bg-transparent hover:bg-green-500 text-green-950 font-semibold hover:text-white py-2 px-4 border border-green-950 hover:border-transparent rounded">Home</a>
	</Main>
</Layout>


